body {
      font-family: Arial, sans-serif;
      padding: 30px;
      background-color: #f0f8ff;
    }
 
    h2 {
      text-align: center;
      color: #003366;
    }
 
    form {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      width: 300px;
      margin: 0 auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-bottom:20px ;
    }
 
    input, select, button {
      width: 100%;
      padding: 8px;
      margin-top: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
 
   #add,#submit{
      background-color: #003366;
      color: white;
      cursor: pointer;
    }
 
   
 
    #output {
      margin-top: 20px;
      text-align: center;
      font-size: 16px;
      color: #003366;
      border:red solid 2px;

    }
    #output:empty{
      border: none;
    }
 
    

    #added{
     background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      width: 300px;
      margin: 0 auto;
    
      box-shadow: 0 0 10px rgba(0,0,0,0.1);

    }
    #list{
      display:flex;
      gap: 20px;
      padding: 10px;
      justify-content:space-around;
    }

    #btn{
      width: auto;
      cursor: pointer;
      background-color: red;
    }
    #red{
      color: red;
    }